@import "tailwindcss";

@theme {
  --color-primary: #101010;
  --color-secondary: #b7711c;
  --color-tertiary: #dedede;
}

body {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}
